<h2>Bedrijven:</h2>

<mat-card class="card" *ngFor="let b of bedrijven">
    <mat-card-header>
        <mat-card-title> <a [routerLink] ="['/detailBedrijf/'+(b.bedrijfID)]">{{b.naam}}</a></mat-card-title>
     </mat-card-header>
    <mat-card-content>
        <input type="button" class="btn btn-lg btn-warning" value="Reviews" [routerLink] ="['/bedrijfReview/'+(b.accountID)]" />
        
        </mat-card-content>
    <mat-card-content>
        <input type="button" class="btn btn-lg btn-warning" value="Verwijder" (click)="deleteAccount((b.bedrijfID))"/>

    
    </mat-card-content>

</mat-card>

