<div class="row mt-4">
  <div class="col-12">
    <h4>Register</h4>
  </div>

  <div class="col-12">
    <div class="row" *ngIf="authError">
      <div class="col-12 alert alert-danger">
        {{ authError?.message }}
      </div>
    </div>
  </div>
  <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
    <div class="row">
      <div class="col-md-6 mb-2">
        <label for="naam">Naam</label>
        <input ngModel #naam="ngModel" name="naam" type="text" class="form-control" id="naam">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-2">
        <label for="email">Email</label>
        <input ngModel #email="ngModel" name="email" type="email" class="form-control">
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 mb-2">
        <label for="password">Password</label>
        <input ngModel #password="ngModel" name="password" type="password" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-2">
        <label>Confirm Password</label>
        <input name="password" type="password" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-2">
        <div class="input-field col s12">
          <select class="browser-default" ngModel #rol="ngModel" name="rol"
            (change)="selectedRole($event.target.value)">
            <option disabled>Selecteer uw rol</option>
            <option value=2>Maker</option>
            <option value=3>Bedrijf</option>

          </select>

        </div>
      </div>
    </div>
    <div class="row" *ngIf="sRole == 2">
    <div class="row" >
      <div class="col-md-12 mb-2">
        <label>Geboortedatum</label>
        <input name="gDatum" type="date" class="form-control">
        
      </div>
      <div class="col-md-12 mb-2">
          <label>Nummer</label>
          <input name="nummer" type="tel" class="form-control">
          
        </div>
        <div class="col-md-12 mb-2">
            <label>LinkedIn</label>
            <input name="linkedIn" type="url" class="form-control">
            
          </div>
      <div class="col-md-12 mb-2">
          <label>Biografie</label>
          
          <textarea name="biografie" cols="40" rows="5" id="textarea1" class="materialize-textarea"></textarea>
        </div>
        <div class="col-md-12 mb-2">
            <label>Ervaring</label>
            
            <textarea name="ervaring" cols="40" rows="5" id="textarea2" class="materialize-textarea"></textarea>
          </div>
        <div class="col-md-12 mb-2">
            
            <label>
                <input type="checkbox" />
                <span>Student?</span>
              </label>
            
          </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>


  </form>

</div>