<button mat-button class="btn btn-primary" routerLink="/reviews-maker" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Reviews</button>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title><b>Maker</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <p><b>Overzicht assignments</b></p>
            <ul>
                    <li *ngFor="let a of assignments">
                        {{a.titel}}
                        <button mat-button color="primary" (click)="details(a.assignmentID)">Details</button>
                        {{a.status.beschrijving}}
                    </li>
            </ul>
            <p *ngIf="messageAssignment">Geen assignments beschikbaar.</p> 
            <p><b>Aanbevolen assignments</b></p>
            <ul>
                    <li *ngFor="let aa of aanbevelingen">
                        {{aa.titel}}  
                        <button mat-button color="primary" (click)="details(aa.assignmentID)">Details</button>
                    </li>
            </ul>
            <button mat-raised-button color="primary" routerLink="/reviews" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Reviews bekijken</button>             
    </mat-card-content>
</mat-card>
