<mat-card class="card">
    <mat-card-header>
        <mat-card-title><b>Maker</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <p><b>Overzicht assignments</b></p>
            <ul>
                    <li *ngFor="let a of assignments">
                        {{a.titel}}  
                        <button mat-button color="primary" (click)="details(a.assignmentID)">Details</button>
                    </li>
            </ul>
            <p>{{messageAssignment}}</p>
            <p><b>Assignment Uitnodigingen</b></p>
            <ul>
                    <li *ngFor="let v of verzoeken">
                        {{v.titel}}  
                        <button mat-button color="primary" (click)="details(a.assignmentID)">Details</button>
                        <button mat-button class="accept" (click)="accepteerAssignment(v.assignmentID)">Accepteren</button>
                        <button mat-button class="weiger" (click)="weigerAssignment(v.assignmentID)">Weigeren</button>
                    </li>
            </ul>
            <p>{{messageVerzoek}}</p>    
            <p><b>Aanbevolen assignments</b></p>
            <ul>
                    <li *ngFor="let aa of aanbelingen">
                        {{aa.titel}}  
                        <button mat-button color="primary" (click)="details(aa.assignmentID)">Details</button>
                    </li>
            </ul>
    </mat-card-content>
</mat-card>
