
<mat-card class="card">
        <mat-card-header>
          <mat-card-title><b>Mensen geïnteresseerd in assignment: {{assignments[0].titel}}</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <ul>
                    <li></li>
                    <li *ngFor="let m of makers">{{m.gebruiker.naam}}<button mat-button color="primary" (click)="bedrijfDetails(b.bedrijfID)">Details</button></li>
                    <li><button mat-button color="primary" (click)="bedrijfDetails(b.bedrijfID)">Details</button></li>
                </ul>
            </mat-card-content>
            </mat-card>

