<mat-card class="card">
    <mat-card-header>
      <mat-card-title><b>Assignments/bedrijven zoeken op tags</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <div>
                <tag-input [(ngModel)]="tags"
                           [addOnBlur]="true"
                           [clearOnBlur]="true">
                    <tag-input-dropdown [autocompleteItems]="autoComplete">
                    </tag-input-dropdown>
                </tag-input>
            </div>     
            <button mat-raised-button color="primary" (click)="zoeken()">Zoeken</button>  
            <mat-tab-group>
                <mat-tab label="Assignments">
                    <ul>
                        <li *ngFor="let a of assignments">
                            {{a.titel}}  
                            <button mat-button color="primary" (click)="details(a.assignmentID)">Details</button>
                        </li>
                    </ul>
                </mat-tab>
                <mat-tab label="Bedrijven">
                    <ul>
                        <li *ngFor="let b of bedrijven">
                            {{b.gebruiker.naam}}  
                            <button mat-button color="primary" (click)="details(a.assignmentID)">Details</button>
                        </li>
                    </ul>
                </mat-tab>
            </mat-tab-group>  
    </mat-card-content>
</mat-card>
