<form #makerForm="ngForm"  (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
   
    <p class="h4 mb-4">Voeg Maker toe:</p>
            <div class="col">
                <p>Titel:
                <input type="text"  name="title" /></p>
                <p>Artiest:
                <input type="text"  name="artist" /></p>
                <p>Cover:
                <input type="text"  name="cover" /></p>
                <p>Album:
                <input type="text"  name="album" /></p>
                <p>Tijdsduur:
                <input type="text"  name="duration" /></p>
            </div>
       
            <button mdbBtn color="info"  block="true" class="my-4" type="submit" [disabled]="submitted">Voeg toe</button>
            
    
</form>
    
