<div class="container">
  <div class="row">
<form #makerForm="ngForm"  (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
        <p>{{ model | json }}</p>
        <p>{{ modelGebruiker | json }}</p>
    <p class="h4 mb-4">Voeg Maker toe:</p>
   
    <div class="row"> 
        <div class="col-md-12 mb-2">
        <p>Naam:
        <input type="text"  class="form-control" required [(ngModel)]="gebruiker.naam"  name="naam" /></p>
        
          <div class="col-md-12 mb-2">
            <label for="password">Password</label>
            <input [(ngModel)]="password" name="password" type="password" class="form-control">
          </div>
       
        </div>
        <div class="col-md-12 mb-2">
          <p>Email:
          <input type="text"  class="form-control"  required [(ngModel)]="gebruiker.email"  name="email" /></p>
        <div class="col-md-12 mb-2">
          <label>Geboortedatum</label>
          <input type="date" class="form-control" [(ngModel)]="maker.geboorteDatum" name="geboorteDatum">
        </div>
        </div>
        <div class="col-md-12 mb-2">
        <p>telefoonnummer:
            <input type="tel"  class="form-control" required [(ngModel)]="maker.telefoon"  name="telefoon" /></p>
        </div>
        <div class="col-md-12 mb-2">
          <label>LinkedIn</label>
          <input name="linkedIn" type="url" class="form-control" [(ngModel)]="maker.linkdIn">

        </div>
        <div class="col-md-12 mb-2">
          <label>Biografie</label>

          <textarea name="biografie" cols="40" rows="5" id="textarea1" class="materialize-textarea"
                    [(ngModel)]="maker.biografie"></textarea>
        </div>
        <div class="col-md-12 mb-2">
          <label>Ervaring</label>

          <textarea name="ervaring" cols="40" rows="5" id="textarea2" class="materialize-textarea"
                    [(ngModel)]="maker.ervaring">
                  </textarea>
        </div>
        <div class="col-md-12 mb-2">

          <label>
            <input type="checkbox" [(ngModel)]="maker.studentCheck" name="student"/>
            <span>Student?</span>
          </label>

          
        </div>
      </div>
       
    <button [routerLink] ="['/adminMaker']" block="true" class="btn btn-lg btn-warning" type="submit" [disabled]="submitted">Voeg toe</button>
            
    
</form>
</div>
</div>
    
