<mat-card class="card">
    <mat-card-header>
        <mat-card-title><b>{{bedrijf.naam}}</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><b>Biografie: </b></p>
        <p>{{bedrijf.biografie}}</p>
        <p><b>Locatie: </b>{{bedrijf.locatie}}</p>            
        <p><b>Telefoon: </b>{{bedrijf.telefoonNummer}}</p>    
        <p><b>Tags: </b></p>
        <ul>
            <li *ngFor="let t of bedrijf.tagBedrijven">
                {{t.tag.beschrijving}}  
            </li>
        </ul>
        <p><b>Assignments: </b></p>
        <ul>
            <li *ngFor="let a of bedrijf.assignments">
                {{a.titel}}  <button mat-button color="primary" (click)="assignmentDetails(a.assignmentID)">Details</button>
            </li>
        </ul>
    </mat-card-content>
</mat-card>
