

<mat-card class="card">
    <mat-card-header>
      <mat-card-title><b>Assignments toevoegen</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <form (ngSubmit)="assignment()">
                    <p>Titel:
                    <input type="text" [(ngModel)]="assignments.titel" name="titel" /></p>
                    <p>Omschrijving:
                    <input type="text" [(ngModel)]="assignments.omschrijving" name="omschrijving" /></p>
                    <p>Tags:</p>
                    
                    <p>Locatie: 
                    <input type="text" [(ngModel)]="assignments.locatie" name="locatie"></p>
                    <p>Type:
                    
                        <mat-form-field>
                                
                                <select matNativeControl required>
                                  <option value="stage">Stage</option>
                                  <option value="opdracht">Opdracht</option>
                                </select>
                              </mat-form-field>
                              
                </form>
                
    </mat-card-content>
</mat-card>


