<!--<form #bedrijfForm="ngForm"  (ngSubmit)="onSubmit()" class="text-center border border-light p-5">-->

<!--        -->
<!--        <p>{{ model | json }}</p>-->
<!--        <p>{{ modelAccount | json }}</p>-->
<!--        <p class="h4 mb-4">Voeg een bedrijf toe:</p>-->
<!--                <div class="col">-->
<!--                    <p>naam:-->
<!--                    <input type="text" required [(ngModel)]="modelGebruiker.naam"  name="naam" /></p>-->
<!--                    <p>Email:-->
<!--                    <input type="text"  required [(ngModel)]="modelGebruiker.email"  name="email" /></p>-->
<!--                    <p>locatie:-->
<!--                    <input type="text"  required [(ngModel)]="model.locatie" name="locatie" /></p>-->
<!--                    <p>Tags:-->
<!--                    <input type="text" required [(ngModel)]="model.tags"  name="tags" /></p>-->
<!--                    <p>biografie:-->
<!--                    <input type="text" required [(ngModel)]="model.biografie"  name="biografie" /></p>-->
<!--                    <p>telefoonnummer:-->
<!--                    <input type="tel" required [(ngModel)]="model.telefoon"  name="telefoon" /></p>-->
<!--                   -->
<!--                </div>-->
<!--           -->
<!--        <button  block="true" class="my-4" type="submit" [disabled]="submitted">Voeg toe</button>-->
<!--                -->
<!--        -->
<!--    </form>-->
