<mat-card class="card">
    <mat-card-header>
        <mat-card-title><b>Informatie</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p><b>Beschrijving:</b></p>
        <p>
            Op onze app kan je als bedrijf assignments posten. 
            Als gewone gebruiker kan je interesse tonen om deze assignment te maken.
            Het bedrijf kan zelf kiezen wie je het meest geschikt vindt via tags die beschrijven wat onder andere de vaardigheden van de persoon zijn.
        </p>
    </mat-card-content>
</mat-card>
