<div class="container">
    <div class="col-sm-8">
        <div class="row">
        <form (ngSubmit) = "pasAan()">

            <div class="form-group">
                <label for="Naam">Naam</label>
                <input type="text" class="form-control" id="Naam"  name="accountNaam" [(ngModel)] = "account.naam"/>
            </div>       
            <div class="form-group">
                <label for="Email">email</label>
                <input type="text" class="form-control" id="Email"  name="email" [(ngModel)] = "account.email"/>
            </div>       

            <div class="form-group">
                <label for="Biografie">Biografie</label>
                <input type="text" class="form-control" id="Biografie"  name="makerBiografie" [(ngModel)] = "maker.biografie"/>
            </div>
            <div class="form-group">
                <label for="Naam">Ervaring</label>
                <input type="text" class="form-control" id="Ervaring"  name="makerErvaring" [(ngModel)] = "maker.ervaring"/>
            </div>



            <div class="form-group">
                <label for="linkedIn">LinkedIn</label>
                <input type="text" class="form-control" id="linkedIn" name="makerLinkedin" [(ngModel)] = "maker.linkdin"/>
            </div>
            <div class="form-group">
                <label for="telefoonNummer">Telefoon nummer</label>
                <input type="tel" class="form-control" id="telefoonNummer"  name="makerTelefoonNummer" [(ngModel)] = "maker.telefoonNummer"/>
            </div>
            <div>
                <label for="tags">Tags:</label>
                <tag-input [(ngModel)]="tags"
                          [ngModelOptions]="{standalone: true}"
                          [addOnBlur]="true"
                          [clearOnBlur]="true"
                          [modelAsStrings]="true">
                  <tag-input-dropdown [autocompleteItems]="autoComplete">
                  </tag-input-dropdown>
                </tag-input>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>
</div>