<div class="container">
    <div class="col-sm-8">
        <div class="row">
        <form>
            
            <div class="form-group">
                <label for="Naam">Naam</label>
                <input type="text" class="form-control" id="Naam" />
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" />
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="text" class="form-control" id="Password" />
            </div>
            <div class="form-group">
                <label for="GeboorteDatum">Geboorte Datum</label>
                <input type="date" class="form-control" id="GeboorteDatum" />
            </div>
            <div class="form-group">
                <label for="Biografie">Biografie</label>
                <input type="text" class="form-control" id="Biografie" />
            </div>
            <div class="form-group">
                <label for="Naam">Ervaring</label>
                <input type="text" class="form-control" id="Ervaring" />
            </div>
            <div class="form-group">
                <label for="Student">Student?</label>
                <input type="checkbox" class="form-control" id="Student" />
            </div>
            <div class="form-group">
                <label for="linkedIn">LinkedIn</label>
                <input type="text" class="form-control" id="linkedIn" />
            </div>
            <div class="form-group">
                <label for="telefoonNummer">Telefoon nummer</label>
                <input type="tel" class="form-control" id="telefoonNummer" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>
</div>

