<mat-card class="card">
        <mat-card-header>
            <mat-card-title><b>{{maker.gebruiker.naam}}</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><b>Biografie: </b></p>
            <p>{{maker.biografie}}</p>
            <p><b>LinkedIn: </b>{{maker.linkedIn}}</p>            
            <p><b>Ervaring: </b>{{maker.ervaring}}</p>
            <p><b>Telefoonnummer: </b>{{maker.telefoonnummer}}</p>
            <p><b>E-mail: </b>{{maker.gebruiker.email}}</p>    
            <p><b>Tags: </b></p>
            <ul>
                <li *ngFor="let t of maker.tagMakers">
                    {{t.tag.beschrijving}}  
                </li>
            </ul>
            
        </mat-card-content>
    </mat-card>
    
